bin/
obj/
out/
.vs/
.git/
.cache/
dist/
coverage/
*.sln.DotSettings.user
*proj.user
node_modules/
package-lock.json
pnpm-lock.yaml
pnpm-lock.yaml
[Bb][Ll][Dd]/
x64/
Debug/
.parcel-cache/
.DS_Store
dist-ssr/
*.local
.antlr/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform/
**/target/
**/Cargo.lock